<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="ICATValuesCacher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ICAT4IngestLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ICAT4IngestLibrary.ICAT4IngestLibrary" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="TraceFile" />
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="TraceFile" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
  </system.diagnostics>
    <applicationSettings>
        <ICATIngestLibrary.Properties.Settings>
          <setting name="ICATValuesCacher_org_icatproject_isisicat_ICATService" serializeAs="String">
            <value></value>
            </setting>
              
        </ICATIngestLibrary.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><userSettings>
        <ICAT4IngestLibrary.Properties.Settings>
            <setting name="ICATAuthnComp" serializeAs="String">
                <value>uows</value>
            </setting>
            <setting name="CalibrationRBs" serializeAs="String">
                <value>0, 1000, -1000, 12345, 99999, 999999</value>
            </setting>
            <setting name="Success_Queue" serializeAs="String">
                <value>ICAT Success</value>
            </setting>
            <setting name="post_Error_Ingest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ICAT_Wait" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ICAT_Queue" serializeAs="String">
                <value>ICAT</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>activemq:failover:(localhost:61616)</value>
            </setting>
            <setting name="Long_Queue" serializeAs="String">
                <value>Long ICAT</value>
            </setting>
            <setting name="Error_Queue" serializeAs="String">
                <value>pre ICAT Error Queue</value>
            </setting>
            <setting name="ICATUsername" serializeAs="String">
                <value>isisdata@stfc.ac.uk</value>
            </setting>
            <setting name="ICATPassword" serializeAs="String">
                <value>gPRa$"yBgcw45!PQYF</value>
            </setting>
            <setting name="InstrumentsXMLFile" serializeAs="String">
                <value>C:\ActiveIngest\IngestExternalXmls\Instruments.xml</value>
            </setting>
        </ICAT4IngestLibrary.Properties.Settings>
    </userSettings>
    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
                <binding name="ICATPortBinding" closeTimeout="00:02:00" openTimeout="00:02:00"
                    sendTimeout="00:02:00">
                    <security mode="Transport" />
                </binding>
                <binding name="ICATPortBinding1" closeTimeout="00:02:00" openTimeout="00:02:00"
                    sendTimeout="00:02:00">
                    <security mode="Transport" />
                </binding>
                <binding name="ICATPortBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://icatisis.esc.rl.ac.uk/ICATService/ICAT?wsdl"
                binding="basicHttpBinding" bindingConfiguration="ICATPortBinding"
                contract="org.icatproject.isisicat.ICAT" name="ICATPort" />
            <endpoint address="https://icat-dev.isis.stfc.ac.uk:443/ICATService/ICAT"
                binding="basicHttpBinding" bindingConfiguration="ICATPortBinding1"
                contract="org.icatproject.isisicat.ICAT" name="ICATPort1" />
        </client>
    </system.serviceModel>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="_yyyy.MM.dd'.log'" />
      <maxSizeRollBackups value="5000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.3894" newVersion="1.7.1.3894" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>