<?xml version="1.0" encoding="utf-8" ?>
<!--
This is a workaround of the following to get the FBS config to connect to ICAT:

 - The configuration builder in `Microsoft.Extensions.Xml` can't read the FBS
 config files, so can't use the 'correct' .NET 5 approach. We fall back on the
 older `System.Configuration` approach.
 - NUnit seems to run 'testhost.dll' as the main entry point for the test suite.
 This means that ConfigurationManager expects the config file to be called
 testhost.dll.config. This isn't mentioned in the docs, but is corroborated by
 others in a SO post:
 https://docs.nunit.org/articles/nunit/technical-notes/usage/Configuration-Files.html
 https://stackoverflow.com/questions/55541912/using-an-app-config-file-with-nunit3-in-a-net-core-console-app
 - We could do something in the csproj to rename this file when copying it into
 bin, but it's easier to just call it testhost.dll.config.

This works for running the tests through VS and `dotnet test`, but may not for
all test runners.
-->
<configuration>
  <appSettings file="C:\FBS\Apps\isis-icat-configs\isis-icat-debug.config" />
</configuration>