<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBSSharePointQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBSSharePointQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IBSSharePointQuery.Properties.Settings>
            <setting name="IBSSharePointQuery_ListsService_Lists" serializeAs="String">
                <value>https://www.facilities.rl.ac.uk/_vti_bin/Lists.asmx</value>
            </setting>
        </IBSSharePointQuery.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserOfficeWebServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="UserOfficeWebServicePortBinding1" />
                <binding name="ListsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ListsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.facilities.rl.ac.uk/ws/UserOfficeWebService"
                binding="basicHttpBinding" bindingConfiguration="UserOfficeWebServicePortBinding"
                contract="isisudb.UserOfficeWebService" name="UserOfficeWebServicePort" />
            <endpoint address="https://www.facilities.rl.ac.uk/isis/experiments/_vti_bin/Lists.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListsSoap"
                contract="ListsService.ListsSoap" name="ListsSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <IBSSharePointQuery.Properties.Settings>
            <setting name="UserOfficeAPIKey" serializeAs="String">
                <value>e812c8d4-936b-b73f-44de-17c7809739e2</value>
            </setting>
            <setting name="FedId" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>
                </value>
            </setting>
        </IBSSharePointQuery.Properties.Settings>
    </userSettings>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/> <!-- Use latest TLS version to avoid errors connecting to external services -->
    </runtime>
</configuration>